{
    "mcpServers": {
        "sequential-thinking": {
            "command": "npx",
            "args": [
                "-y",
                "@modelcontextprotocol/server-sequential-thinking"
            ],
            "env": {}
        },
        "agenthub_http": {
            "type": "http",
            "url": "https://api.4genthub.com/mcp",
            "headers": {
                "Accept": "application/json, text/event-stream",
                "Authorization": "Bearer <YOUR_API_TOKEN_HERE>"
            }
        },
        "shadcn-ui-server": {
            "command": "npx",
            "args": [
                "@heilgar/shadcn-ui-mcp-server"
            ]
        },
        "browsermcp": {
            "command": "npx",
            "args": [
                "@browsermcp/mcp@latest"
            ]
        }
    }
}